                /* Custom Stylesheet */
                /**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
                
                .icon-block {
                    padding: 0 15px;
                }
                
                .icon-block .material-icons {
                    font-size: inherit;
                }
                /*Content Start Here*/
                /*body*/
                
                body {
                    font-family: "Roboto";
                }
                /*Global*/
                
                @media only screen and (min-width: 1050px) {
                    .container {
                        width: 1050px;
                    }
                }
                
                @media only screen and (max-width: 1087px) {
                    .container {
                        width: 100%;
                    }
                }
                
                .width-full {
                    width: 100%;
                }
                
                a img:hover {
                    opacity: 0.7;
                }
                
                .bold-text {
                    font-weight: bold;
                }
                
                .bold-p9 {
                    font-weight: 900;
                }
                
                .bold-p6 {
                    font-weight: 600;
                }
                
                .p-1 {
                    font-size: 1.2rem;
                }
                
                .p-2 {
                    font-size: 1.5rem;
                }
                
                .ma-0 {
                    margin: 0;
                }
                
                .mt-0 {
                    margin-top: 0rem;
                }
                
                .mt-1 {
                    margin-top: 0.25rem;
                }
                
                .mt-2 {
                    margin-top: 0.5rem;
                }
                
                .mt-3 {
                    margin-top: 1rem;
                }
                
                .mt-5 {
                    margin-top: 1.5rem;
                }
                
                .mt-4 {
                    margin-top: 2rem;
                }
                
                .mb-0 {
                    margin-bottom: 0rem;
                }
                
                .mb-4 {
                    margin-bottom: 4.5rem;
                }
                
                .mb-2 {
                    margin-bottom: 0.5rem;
                }
                
                .mb-3 {
                    margin-bottom: 1rem;
                }
                
                .mb-5 {
                    margin-bottom: 3rem;
                }
                
                .pr-0 {
                    padding-right: 0!important;
                }
                
                .pl-0 {
                    padding-left: 0!important;
                }
                
                .pb-0 {
                    padding-bottom: 0!important;
                }
                
                .pl-2 {
                    padding-left: 0.5rem!important;
                }
                /*header*/
                
                .title {
                    color: #7879F1;
                    text-align: center;
                    font-size: 2.3rem;
                    font-weight: bold;
                }
                /*ご注文はこちら*/
                
                .contact_form {
                    background-color: #FFF;
                    padding: 0.5rem;
                }
                
                .contact_form_label {
                    position: relative;
                    margin-top: 1rem;
                    padding: 0.4rem 4rem 0.4rem 2rem !important;
                    font-size: 1.3rem;
                    font-weight: bold;
                }
                
                @media screen and (max-width: 600px) {
                    .contact_form_label {
                        position: relative;
                        margin-top: 1rem;
                        padding: 0.4rem 0.2rem 0.4rem 0.2rem !important;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
                
                .contact_form_necessary {
                    display: inline-block;
                    position: absolute;
                    width: 3rem;
                    height: 1.75rem;
                    line-height: 1.75rem;
                    right: 2rem;
                    background-color: #FF0000;
                    border-radius: 0.2rem;
                    font-size: 1rem;
                    color: #FFFFFF;
                    text-align: center;
                }
                
                @media screen and (max-width: 600px) {
                    .contact_form_necessary {
                        left: 7rem;
                        font-size: 0.8rem;
                    }
                }
                /*お名前、レベルと資格　Box*/
                
                .contact_form #fname,
                #lname,
                #contact_type_level {
                    padding: 0.6rem;
                    margin-bottom: 1rem;
                    box-sizing: border-box;
                    border: 2px solid #7879F1!important;
                    border-radius: 0.3rem;
                    background-color: #FFFFFF;
                }
                /*性別 radio button*/
                
                .contact_form [type="radio"]:checked+span:after,
                [type="radio"].with-gap:checked+span:before,
                [type="radio"].with-gap:checked+span:after {
                    border: 2px solid #7879F1 !important;
                }
                
                .contact_form [type="radio"]:checked+span:after,
                [type="radio"].with-gap:checked+span:after {
                    background-color: #7879F1 !important;
                }
                
                .contact_form [type="radio"]:not(:checked)+span,
                [type="radio"]:checked+span {
                    font-size: 1.3rem !important;
                }
                
                .gender_choice {
                    margin-top: 1rem;
                    font-size: 1.3rem!important;
                }
                
                @media screen and (max-width: 600px) {
                    .gender_choice {
                        font-size: 1rem;
                    }
                }
                /*住所、postal code*/
                
                .contact_form #post_code_1,
                #post_code_2 {
                    width: 8rem;
                    padding: 0.6rem;
                    margin: 0 0.5rem 0 0.5rem;
                    text-align: center;
                    box-sizing: border-box;
                    border: 2px solid #7879F1;
                    border-radius: 0.3rem;
                    background-color: #FFFFFF;
                }
                
                @media screen and (max-width: 600px) {
                    .contact_form #post_code_1,
                    #post_code_2 {
                        width: 4.5rem;
                        padding: 0.4rem;
                        margin: 0 0.3rem 0 0.3rem;
                        text-align: center;
                        box-sizing: border-box;
                        border: 2px solid #7879F1;
                        border-radius: 0.3rem;
                        background-color: #FFFFFF;
                    }
                }
                
                .contact_form #address {
                    height: auto;
                    background-color: #FFF;
                    border: 2px solid #7879f1;
                    border-radius: 5px;
                    resize: none;
                }
                /*電話番号、メール、確認メール*/
                
                .contact_form #phone,
                #mail,
                #re_fill_mail {
                    width: 70%;
                    padding: 0.6rem;
                    margin-bottom: 1rem;
                    box-sizing: border-box;
                    border: 2px solid #7879F1;
                    border-radius: 0.3rem;
                    background-color: #FFFFFF;
                }
                
                @media screen and (max-width: 600px) {
                    .contact_form #phone,
                    #mail,
                    #re_fill_mail {
                        width: 100%;
                    }
                }
                /*お問い合わせの種類*/
                
                .contact_form #contact_type {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: #000;
                    width: 100%;
                    padding: 0.6rem;
                    border: 2px solid #7879F1;
                    border-radius: 0.3rem;
                    height: 3rem;
                }
                
                #contact_type_class {
                    display: none;
                }
                /*お問い合わせ内容*/
                
                .contact_form #content_detail {
                    height: auto;
                    background-color: #FFF;
                    padding: 0.6rem;
                    margin-bottom: 1rem;
                    border: 2px solid #7879f1;
                    border-radius: 0.3rem;
                    resize: none;
                }
                /*Student Check　&　Checkbox*/
                
                .student_check {
                    margin: 0 2rem 2rem 2rem;
                }
                
                @media screen and (max-width: 600px) {
                    .student_check {
                        margin: 0 0.8rem 0 0.8rem;
                    }
                }
                
                .student_check_span {
                    font-size: 1.3rem !important;
                    font-weight: bold;
                    color: #000;
                }
                
                @media screen and (max-width: 600px) {
                    .student_check_span {
                        font-size: 1rem !important;
                    }
                }
                
                [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
                    border: 2px solid #7879F1!important;
                }
                
                [type="checkbox"].filled-in:checked+span:not(.lever):after {
                    border: 2px solid #7879F1!important;
                    background-color: #7879F1!important;
                }
                /*Button*/
                
                .send_button {
                    width: 65%;
                    margin: auto;
                    display: block;
                    font-weight: bold;
                    padding: 0.6rem 1rem;
                    line-height: 1.5rem;
                    color: #FFF;
                    background-color: #7879f1;
                    border: 1px solid #7879f1;
                    border-radius: 0.3rem;
                }
                
                .send_button:hover {
                    color: #000!important;
                    background: #7879f1!important;
                }
                /*Output data form*/
                
                .form_label {
                    height: 3rem;
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #000;
                }